extends layout
block headscripts
  script(type='text/javascript' src='https://code.jquery.com/jquery-3.1.1.min.js')
  script(type='text/javascript' src='/socket.io/socket.io.js')
  script(src='https://use.fontawesome.com/f52a816870.js')
block content
  script. 
    var nick = !{JSON.stringify(nickname)}
    var user = !{JSON.stringify(user)}
    var chats = !{JSON.stringify(chats)}
    var pubs = !{JSON.stringify(pubs)}
  script(type='text/javascript' src='/javascripts/settings.js')
  .chats
    header.chat-header
      .left
        h3 Chats
      .right
        i.fa.fa-bars(aria-hidden="true")#user-settings
    .settings#user-nav
      .settings-header
        .left
          h3 Settings
        .right
          a.closebtn#closepanel &times;
      .spacer
      .settings-body
        h5 Nickname
        .input-container
          input.input(readonly='true' type='text' value='' + nick)#nickfield
          i.fa.fa-pencil.fa-fw(aria-hidden="true")#editnick
    .chat-list
      .search
        .input-container
          input.input(placeholder="Search public chats" type='text')#searchfield
      table.public-chats
        each pub in pubs
          tr.chat#joinChat
            td.chat-icon
            td.chat-title
              h4= pub.title
      .chat#newchat
        .chat-new
          i.fa.fa-plus.fa-fw(aria-hidden="true")#chat-settings
        .chat-title
          h4 Create new
      each chat in chats
        .chat#selectChat
          .chat-icon
            i.fa.fa-user-circle-o.fa-fw(aria-hidden="true")
          .chat-title
            h4= chat.title
          .chat-msg-count
  .messages
    header.convo-header
      .left
        h3#chatTitle Messages
      .right
        i.fa.fa-bars(aria-hidden="true")#chat-settings
    script(type='text/javascript' src='/javascripts/chat.js')
    .settings#chat-nav
      .settings-header
        .left
          h3 Settings
        .right
          a.closebtn#closesettings &times;
      .spacer
      .settings-body
        h5 Leave chat
        button.btn.btn-red#leavechat Leave
    each chat in chats
      - var chatid = chat.title
      .convo(id=chatid style='display:none')
        each msg in chat.messages
          .msg-container
            .msg
              .msg-author
                = msg.sender
              .msg-content
                = msg.content
              .msg-timestamp
                = msg.timestamp
    footer.convo-footer
      form.compose
        .input-container
          input.input(type='text' value='')#messageinput
        .send-container
          button(type='submit').sendbutton
            i.fa.fa-paper-plane(aria-hidden='true')
